
<router-outlet></router-outlet>

<form #myForm="ngForm" (ngSubmit)="update()">
<p>
    <mat-form-field appearance="legacy">
      <mat-label>שם משגיח</mat-label>
      <input matInput>    
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>שם חנות</mat-label>
      <input matInput >      
    </mat-form-field>
  </p>
  
  <section>
    <div class="example-button-row">
      <button mat-button (click)="btnEntry()">כניסה</button>
    </div><br>
    <div >{{dateEntry |date: 'dd-MMM-yy h:mm:ss a '}}</div>
    <div class="example-button-row">
        <button mat-button (click)="btnExit()">יציאה</button>
      </div><br>
      <div>{{dateExit |date :'dd-MMM-yy h:mm:ss a '}}</div>
 
    </section>
  <br>
<!-- <div>
  <mat-form-field appearance="fill">
    <mat-label>תאריך</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div> -->
<p>
    <mat-form-field appearance="legacy">
      <mat-label>הערות</mat-label>
      <input matInput >      
    </mat-form-field>
  </p>
  <label id="example-radio-group-label">תוצאה</label>
  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    [(ngModel)]="testResult" name="radio">
    <mat-radio-button class="example-radio-button" *ngFor="let test of choiceTest" [value]="test">
      {{test}}
    </mat-radio-button>
  </mat-radio-group>
  
</form>




 
