<div>Stores
    <!-- <h1 *ngFor="let store of stores">{{store.nameStore}}</h1> -->
</div>
<form [formGroup]="form" (ngSubmit)="create()">
   
    <p>
        <mat-form-field appearance="legacy">
          <mat-label>שם חנות</mat-label>
          <input matInput formControlName="nameStore" >    
        </mat-form-field>
        <!-- <mat-error *ngIf="form.get('nameStore').errors?.required"> חובה להזין שם.</mat-error> -->
      </p>
   
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>כתובת</mat-label>
          <input matInput formControlName="addressStore"  >    
        </mat-form-field>
      </p>

      <mat-form-field>
        <mat-label>סוג חנות</mat-label>
        <mat-select>
          <mat-option *ngFor="let type of typeStoreNumber" [value]="typeStoreNumber" 
          (click)="ss($event,type)">
           <!-- (selectionChange)="ss($event)"> -->
            {{ type }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <p>
        <mat-form-field appearance="legacy">
          <mat-label>שעת פתיחת החנות</mat-label>
          <input type="time" matInput formControlName="activityTimeStart"  >    
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="legacy">
          <mat-label>שעת סגירת החנות</mat-label>
          <input type="time" matInput formControlName="activityTimeEnd"  >    
        </mat-form-field>
      </p>

      <button mat-button type="submit">צור חנות</button>
    </form>

